img.logo {
  width:25px;
  height:25px;
  display:inline;
  margin:0px;
  margin-right: 10px;
}

div.datatable {
  height:400px;
  background-color: lightgreen;
  border-radius: 10px;
  border:1px solid darkgray;
  margin-bottom:10px;
}

div.search-form {
  background-color: lightyellow;
  border-radius: 10px;
  border:1px solid darkgray;
  margin-bottom:10px;
  padding-top:10px;
  padding-bottom:10px;
}

div.add-form {
  background-color: lightblue;
  border-radius: 10px;
  border:1px solid darkgray;
  margin-bottom:10px;
  padding-top:10px;
  padding-bottom:10px;
}

div.graph {
  height:400px;
  background-color: lightgray;
  border-radius: 10px;
  border:1px solid darkgray;
  margin-bottom:10px;
}

span.action {
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
}

/*a.isHidden {
  display:none;
}

div.isHidden {
  display:none;
}*/

.isHidden {
  display:none;
}

img.thumbnail {
  width:64px;
  height:85px;
}
