<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.user_id %> - <%= r.first_name %></li>
    <% }); %>
</ul>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br><br>
    </div> <!-- spacer -->
  </div>
  <div class="row">
    <div class="col-xs-12 books"> <!-- product panel-->
    </div>
  </div>
</div>

</body>
</html>
